# Build outputs
**/x64/
**/Debug/
**/Release/
**/bin/
**/obj/
*.exe
*.sys
*.pdb
*.obj
*.idb
*.ilk
*.lib
*.exp
*.log
*.tlog
*.recipe
*.cer
*.cat

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# Go
*.test
coverage.out

# Runtime output
exports/
*.dmp
*.dump
